@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

a {
  text-decoration: none;
}

.header {
  background: rgba(20, 67, 114, 0.3) url("../img/body.jpg") no-repeat top left/cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: 100vh;
  position: relative;
}

.navigation {
  background: rgba(20, 67, 114, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  display: block;
  width: 100%;
  z-index: 999;
}

.nav_menu_humb {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  position: relative;
  width: 234px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo img {
  width: 100%;
}

.nav_menu {
  width: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_menu a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav_menu a::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #000000;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.nav_menu a:hover::before {
  display: block;
}

.nav_menu a:hover::after {
  display: block;
}

.nav_btn button {
  text-transform: uppercase;
  padding: 12px 34px;
  color: #ffffff;
  background: #C00606;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 219px;
  height: 44px;
  border: 0;
}

@media (max-width: 1200px) and (min-width: 970px) {
  .nav {
    width: 100%;
  }
  .nav_logo {
    width: 20%;
  }
  .nav_btn button {
    width: 100%;
  }
}

@media (max-width: 969px) and (min-width: 801px) {
  .nav_btn {
    display: none;
  }
}

@media (max-width: 800px) and (min-width: 0px) {
  .nav {
    width: 100%;
  }
  .nav_btn {
    display: none;
  }
  .nav_menu {
    display: none;
  }
  .nav_menu_humb {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    z-index: 99999;
    width: 240px;
    height: 100vh;
    margin-top: 40%;
    padding: 20px 5px;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: rgba(20, 67, 114, 0.6);
  }
  .nav_menu_humb_item {
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #000;
  }
  .menu_humb {
    display: block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    z-index: 999999;
  }
  .menu_humb span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background: #222222;
  }
  .menu_humb span:before {
    content: '';
    top: 50%;
    position: absolute;
    width: 20px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    top: 0;
    height: 2px;
    background: #222222;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu_humb span:after {
    content: '';
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    width: 20px;
    height: 2px;
    background: #222222;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu_humb_active span {
    height: 0;
  }
  .menu_humb_active span:after {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .menu_humb_active span:before {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .nav_menu_humb_active {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  min-height: 500px;
}

.hero_title {
  width: 60%;
  color: #ffffff;
}

.hero_title h1 {
  font-size: 45px;
  line-height: 58px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.hero_title h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 25px;
}

.hero_title p {
  width: 462px;
  font-size: 14px;
  line-height: 18px;
}

.hero_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  background: rgba(20, 67, 114, 0.2);
  padding: 18px 25px;
  -webkit-box-shadow: 2px 2px 15px 0 #144372;
          box-shadow: 2px 2px 15px 0 #144372;
}

.hero_form h3 {
  text-align: right;
  font-size: 1.4em;
  line-height: 31px;
  color: #ffffff;
  font-weight: 400;
}

.hero_form input {
  margin-top: 30px;
  padding: 14px 25px;
  background: rgba(255, 255, 255, 0.47);
  border: 0;
  color: #000000;
  -webkit-box-shadow: 3px 3px 5px 0 #144372;
          box-shadow: 3px 3px 5px 0 #144372;
}

.hero_form_btn {
  margin-top: 30px;
}

.hero_form_btn button {
  text-transform: uppercase;
  padding: 12px 0;
  color: #ffffff;
  font-size: 1em;
  background: #C00606;
  -webkit-box-shadow: 3px 3px 5px 0 #144372;
          box-shadow: 3px 3px 5px 0 #144372;
  width: 100%;
  height: 44px;
  border: 0;
}

.hero_btn {
  display: none;
}

@media (max-width: 1200px) and (min-width: 1070px) {
  .hero_title {
    width: 60%;
  }
  .hero_title h1 {
    font-size: 2.8em;
    line-height: 45px;
  }
  .hero_title h3 {
    font-size: 2em;
    line-height: 35px;
  }
  .hero_title p {
    font-size: 1.2em;
  }
  .hero_btn button {
    padding: 12px 0;
  }
}

@media (max-width: 1069px) and (min-width: 940px) {
  .hero_title {
    width: 60%;
  }
  .hero_title h1 {
    font-size: 2.4em;
    line-height: 45px;
  }
  .hero_title h3 {
    font-size: 2em;
    line-height: 35px;
  }
  .hero_title p {
    font-size: 1.2em;
  }
}

@media (max-width: 939px) and (min-width: 0px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 100%;
    padding: 100px 0;
    width: 100%;
  }
  .hero_title {
    width: 100%;
  }
  .hero_title h1 {
    font-size: 1.8em;
    line-height: 35px;
    width: 100%;
  }
  .hero_title h3 {
    font-size: 1,8em;
    line-height: 35px;
    width: 100%;
  }
  .hero_title p {
    font-size: 1em;
    width: 100%;
  }
  .hero_form {
    display: none;
  }
  .hero_btn {
    display: block;
    margin-top: 30px;
  }
  .hero_btn button {
    text-transform: uppercase;
    padding: 12px 0;
    color: #ffffff;
    font-size: 1em;
    background: #C00606;
    -webkit-box-shadow: 3px 3px 5px 0 #144372;
            box-shadow: 3px 3px 5px 0 #144372;
    width: 60%;
    height: 44px;
    border: 0;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 60px;
  margin-bottom: 60px;
}

.timer_clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #000;
  padding-right: 80px;
}

.timer_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timer_number {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.timer_participant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 80px;
}

.timer_participant_number {
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.timer_btn {
  border-left: 1px solid #000;
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.timer_btn button {
  text-transform: uppercase;
  padding: 12px 0;
  color: #ffffff;
  font-size: 1em;
  background: #C00606;
  -webkit-box-shadow: 3px 3px 5px 0 #144372;
          box-shadow: 3px 3px 5px 0 #144372;
  width: 100%;
  height: 44px;
  border: 0;
}

@media (max-width: 1150px) and (min-width: 700px) {
  .timer_clock {
    padding-right: 0;
    border-right: none;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .timer_number {
    font-size: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .timer_participant {
    display: none;
    padding: 0;
  }
  .timer_btn {
    width: 35%;
    padding-left: 0;
    border-left: none;
  }
}

@media (max-width: 699px) and (min-width: 0px) {
  .timer_clock {
    padding-right: 0;
    border-right: none;
    width: 100%;
  }
  .timer_number {
    font-size: 3.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .timer_participant {
    display: none;
    padding: 0;
  }
  .timer_btn {
    display: none;
    padding: 0;
  }
}

.about-section {
  height: auto;
  max-height: 100%;
  margin-bottom: 50px;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.about {
  margin-top: 44px;
  position: relative;
}

.about_img {
  position: absolute;
  width: 250px;
  left: 0;
  opacity: 0.5;
}

.about_img img {
  width: 100%;
}

.about_img2 {
  position: absolute;
  right: 0;
}

.about_img2 img {
  width: 100%;
}

.about_title h1 {
  color: #144372;
  font-weight: 1000;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  margin-right: 50px;
  margin-bottom: 77px;
}

.about_title h1:before {
  content: 'О КОНФЕРЕНЦИИ';
  color: rgba(20, 67, 114, 0.3);
  right: -5%;
  top: -35%;
  position: absolute;
}

.about_block_txt {
  width: 55%;
}

.about_block_txt h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 23px;
}

.about_block_txt p {
  margin: 25px 0;
}

@media (max-width: 1100px) and (min-width: 801px) {
  .about_img {
    opacity: 0.4;
    width: 200px;
  }
  .about_img2 {
    opacity: 0.4;
    right: -30%;
  }
  .about_block_txt {
    width: 100%;
    opacity: 1;
  }
}

@media (max-width: 800px) and (min-width: 0px) {
  .about_img2 {
    display: none;
  }
  .about_block_txt {
    width: 100%;
    opacity: 1;
  }
}

.spicer_section {
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: 80vh;
  padding: 100px 0;
  position: relative;
  background: url("../img/water.jpg") top center/cover;
  z-index: -99;
}

.spicers_background {
  position: absolute;
  background: rgba(93, 130, 168, 0.349);
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -80;
}

.spicer {
  z-index: 19;
  width: 100%;
}

.spicer_title h1 {
  color: #144372;
  font-weight: 1000;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  position: relative;
  margin-right: 50px;
  margin-bottom: 77px;
}

.spicer_title h1:before {
  content: 'СПИКЕРЫ ФОРУМА';
  color: rgba(20, 67, 114, 0.3);
  left: 6%;
  top: -35%;
  position: absolute;
}

.spicer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spicer_list_item {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  text-align: center;
}

.spicer_list_item_img {
  width: 50%;
  height: 250px;
  background: black;
  margin-bottom: 20px;
}

.spicer_list_item_title {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 940px) and (min-width: 640px) {
  .spicer_list_item_img {
    width: 80%;
  }
}

@media (max-width: 639px) and (min-width: 0px) {
  .spicer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spicer_list_item {
    width: 100%;
  }
  .spicer_list_item_img {
    width: 50%;
  }
}

.programm_section {
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
}

.programm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.programm_title {
  width: 100%;
}

.programm_title h1 {
  color: #144372;
  font-weight: 1000;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  margin-right: 50px;
  margin-bottom: 30px;
}

.programm_title h1:before {
  content: 'Программа мероприятия';
  color: rgba(20, 67, 114, 0.3);
  right: -5%;
  top: -35%;
  position: absolute;
}

.programm_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: auto;
  max-height: 100%;
  padding: 30px 0;
}

.programm_item_number {
  width: 40px;
  height: 40px;
  border: 1px solid #144372;
  border-radius: 50%;
  background: #144372;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.programm_item p {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.programm_item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 30px 0;
  width: 70%;
  height: auto;
  max-height: 100%;
}

.programm_item_right p {
  width: 90%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.little_line {
  width: 2px;
  height: 100%;
  background: #144372;
  position: absolute;
  right: 2%;
  z-index: -99;
}

.line {
  width: 96%;
  height: 2px;
  background: #144372;
  position: absolute;
  bottom: 0;
  right: 2%;
}

.line1 {
  width: 96%;
  height: 2px;
  background: #144372;
  position: absolute;
  bottom: 0;
  right: 2%;
}

.little_line_left_top {
  width: 2px;
  height: 100%;
  background: #144372;
  position: absolute;
  left: 2%;
  z-index: -99;
}

.bubble {
  overflow: hidden;
  z-index: -9995;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}

.bub1 img {
  top: 90px;
  left: 90%;
  width: 100px;
  height: 100px;
  position: relative;
}

.bub2 img {
  top: 290px;
  left: 1100px;
  width: 150px;
  height: 150px;
  position: relative;
}

.bub3 img {
  top: 590px;
  left: 1250px;
  width: 100px;
  height: 100px;
  position: relative;
}

.bub4 img {
  top: 290px;
  left: 0px;
  width: 150px;
  height: 150px;
  position: relative;
}

.bub5 img {
  top: 990px;
  left: 1250px;
  width: 200px;
  height: 200px;
  position: relative;
}

.bub6 img {
  top: 990px;
  left: 50px;
  width: 100px;
  height: 100px;
  position: relative;
}

.bub7 img {
  top: 590px;
  left: 70px;
  width: 150px;
  height: 150px;
  position: relative;
}

@media (max-width: 1100px) and (min-width: 0px) {
  .programm_item {
    width: 100%;
  }
  .programm_item_right {
    width: 100%;
  }
}

.section-registration {
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: 60vh;
  position: relative;
  background: url("../img/registration_body.png") no-repeat left top/cover;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 60vh;
  position: relative;
}

.registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.registration_form_title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.registration_form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.registration_form_input input {
  margin-top: 15px;
  height: 44px;
  padding: 5px 15px;
}

.registration_form_btn {
  margin-top: 15px;
  text-transform: uppercase;
  padding: 12px 54px;
  color: #ffffff;
  background: #C00606;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 44px;
  border: 0;
}

.registration_text {
  text-transform: uppercase;
  color: #ffffff;
  width: 50%;
}

.registration_text p {
  margin-top: 22px;
}

@media (max-width: 949px) and (min-width: 0px) {
  .section-registration {
    padding: 100px 0;
    height: auto;
    position: relative;
    width: 100%;
  }
  .registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .registration_form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration_text {
    width: 100%;
    text-align: center;
  }
}

.organizer {
  height: auto;
  max-height: 100%;
  min-height: 80vh;
  padding: 100px 0;
  position: relative;
}

.organizer_title {
  color: #144372;
  font-weight: 1000;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  position: relative;
  margin-right: 50px;
  margin-bottom: 77px;
}

.organizer_title:before {
  content: 'ОРГАНИЗАТОРЫ';
  color: rgba(20, 67, 114, 0.3);
  left: 6%;
  top: -35%;
  position: absolute;
}

.organizer_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.organizer_about img {
  width: 50%;
}

.organizer_about_text {
  line-height: 20px;
  width: 50%;
  margin-left: 40px;
  height: auto;
}

.organizer_about_text p {
  margin-top: 10px;
}

@media (max-width: 1040px) and (min-width: 320px) {
  .organizer_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .organizer_about img {
    width: 50%;
  }
  .organizer_about_text {
    margin: 30px 0 0 0;
    width: 100%;
  }
}

.section-map {
  width: 100%;
  height: auto;
  min-height: 80vh;
  padding: 50px 0;
  position: relative;
}

.section-map iframe {
  width: 100%;
  height: 90%;
  position: absolute;
}

.map_yandex {
  width: 100%;
  height: 80vh;
  position: absolute;
  border: 1px solid red;
  z-index: 0;
}

.map {
  z-index: 5;
  min-height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  position: absolute;
  padding: 30px 23px;
  background: rgba(0, 0, 0, 0.57);
}

.map_title {
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  padding-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map_text {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.map_text p {
  padding-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map_btn {
  margin-top: 15px;
  text-transform: uppercase;
  padding: 12px 54px;
  color: #ffffff;
  background: #C00606;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 44px;
  border: 0;
}

.footer {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media (max-width: 1100px) and (min-width: 801px) {
  .map {
    min-height: 100vh;
  }
  .map_block {
    width: 50%;
  }
}

@media (max-width: 800px) and (min-width: 631px) {
  .map {
    min-height: 100vh;
  }
  .map_block {
    width: 70%;
  }
}

@media (max-width: 630px) and (min-width: 0px) {
  .map {
    min-height: 100vh;
  }
  .map_block {
    width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(14, 13, 13, 0.651);
}

.modal-content {
  background: #fefefe;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888888;
  width: 40%;
}

.modal_input {
  width: 80%;
  margin-top: 30px;
  padding: 14px 25px;
  background: rgba(255, 255, 255, 0.47);
  border: 0;
  color: #000000;
  -webkit-box-shadow: 3px 3px 5px 0 #144372;
          box-shadow: 3px 3px 5px 0 #144372;
  outline: none;
}

.modal_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_form h3 {
  text-align: right;
  font-size: 1.4em;
  line-height: 31px;
  color: #000000;
  font-weight: bold;
}

.modal_form_btn {
  margin-top: 30px;
  width: 80%;
}

.modal_form_btn button {
  text-transform: uppercase;
  padding: 12px 0;
  color: #ffffff;
  font-size: 1em;
  background: #C00606;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(29, 27, 27, 0.37);
          box-shadow: 3px 3px 5px 0 rgba(29, 27, 27, 0.37);
  width: 100%;
  height: 44px;
  border: 0;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 1069px) and (min-width: 750px) {
  .modal-content {
    width: 60%;
  }
}

@media (max-width: 749px) and (min-width: 470px) {
  .modal-content {
    width: 90%;
  }
  .modal_input {
    width: 90%;
  }
  .modal_form_btn {
    width: 90%;
  }
}

@media (max-width: 469px) and (min-width: 0px) {
  .modal-content {
    width: 90%;
  }
  .modal_input {
    width: 100%;
  }
  .modal_form h3 {
    font-size: 1em;
  }
  .modal_form_btn {
    font-size: 0.8em;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */