.about-section
    background: url('../img/basik.png')no-repeat right top
    height: 100vh
    background-position-y: -50px
    position: relative

.about
    margin-top: 44px
    position: relative
    &_img
        position: absolute
        width: 450px
        left: -35%
        img
            width: 100%
    &_title
        h1
            color: #144372
            font-weight: 1000
            font-size: 24px
            line-height: 31px
            text-align: right
            text-transform: uppercase
            position: relative
            margin-right: 50px
            margin-bottom: 77px
            &:before
                content: 'О КОНФЕРЕНЦИИ'
                color: rgba(20, 67, 114, 0.3)
                right: -5%
                top: -35%
                position: absolute
    &_block_txt
        width: 50%
        h3
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
        p
            margin: 25px 0
            font-size: 14px
