.section-registration
    width: 100%
    height: 60vh
    background: url('../img/registration_body.png')no-repeat left top/cover
.registration
    display: flex
    justify-content: space-between
    align-items: center
    height: 60vh
    &_form
        display: flex
        flex-direction: column
        &_title
            color: #ffffff
            text-transform: uppercase
            font-size: 18px
            font-weight: bold
        &_input
            display: flex
            flex-direction: column
            input
                margin-top: 15px
                height: 44px
                width: 400px
                padding: 5px 15px
        &_btn
            margin-top: 15px
            text-transform: uppercase
            padding: 12px 54px
            color: #ffffff
            background: #C00606
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            width: 400px
            height: 44px
            border: 0
    &_text
        text-transform: uppercase
        color: #ffffff
        font-size: 14px
        p
            margin-top: 22px
